.wrapper {
  display: inline-block;
  margin: 30px;
}

.name {
  margin-bottom: 16px;
  text-align: center;
}

.clock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid grey;
  background: white url("/img/clock.png") no-repeat;
  background-size: cover;
}

.clock::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
  z-index: 4;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour, .hr {
  width: 80px;
  height: 80px;
}

.clock .min, .mn {
  width: 120px;
  height: 120px;
}

.clock .sec, .sc {
  width: 150px;
  height: 150px;
}

.hr, .mn, .sc {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.hr::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 40px;
  background-color: black;
  border-radius: 6px 6px 0 0;
  z-index: 1;
}

.mn::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 60px;
  background-color: grey;
  border-radius: 6px 6px 0 0;
  z-index: 2;
}

.sc::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 90px;
  background-color: tomato;
  border-radius: 6px 6px 0 0;
  z-index: 3;
}


